---

---

<div class="p-2 container w-full px-14 py-8 font-bold shadow-md mb-4">
    <ul class="flex gap-4">
        <li>
            <a href="/">Tous les pingouins</a>
        </li>
        <li>
            <a href="/species/Adelie">Adelie</a>
        </li>
        <li>
            <a href="/species/Chinstrap">Chinstrap</a>
        </li>
        <li>
            <a href="/species/Gentoo">Gentoo</a>
        </li>
        <li>
            <a href="/test-iframe/test-iframe">Test-iframe</a>
        </li>
        <li><a href="/ancres">Ancres</a></li>
    </ul>
</div>
