---
import Layout from "../../layouts/Layout.astro";
import PlotFigure from "../../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";
const penguinsChinstrap = penguins.filter(
    ({ species }) => species === "Chinstrap",
);
import Menu from "../../components/Menu.astro";
---

<Layout>
    <Menu />
    <div class="p-4 pt-0">
        <h1 class="text-3xl font-bold mb-6 pl-10 mt-2">Penguins Chinstrap</h1>
        <div class="pl-10 py-4">
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsChinstrap, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </div>
    </div>
</Layout>
