---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-3xl font-bold mb-2 pl-10 mt-2">Test avec Iframe</h1>

    <div class="flex flex-col gap-4 px-8">
        <div class="pb-2">
            <div class="pb-2">
                <select id="species" class="p-2 border rounded">
                    <option value="Adelie">Adelie</option>
                    <option value="Chinstrap">Chinstrap</option>
                    <option value="Gentoo">Gentoo</option>
                    <option value="">Tous les pingouins</option>
                </select>
                <a href="/" class="ml-4 text-blue-600 hover:underline">Retour</a
                >
            </div>
        </div>

        <div class="w-full">
            <iframe
                src="/species/Adelie"
                name="penguin-frame"
                id="penguin-iframe"
                class="w-full border"
                style="min-height: 630px;"
                onload="resizeIframe(this)"
            >
            </iframe>
        </div>
    </div>

    <script>
        function resizeIframe(iframe) {
            setTimeout(() => {
                const height = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = height + 50 + "px";
            }, 100);
        }
        document
            .querySelector("#species")
            ?.addEventListener("change", (evt) => {
                const value = (evt.target as HTMLSelectElement).value;
                const iframe = document.getElementById(
                    "penguin-iframe",
                ) as HTMLIFrameElement;

                // Mise à jour de l'attribut src de l'iframe
                if (value === "") {
                    iframe.src = "/"; // Pour "Tous les pingouins"
                } else {
                    iframe.src = "/species/" + value;
                }
            });
    </script>
</Layout>
